{% load static %}

<script src="{% static 'dashboard/js/jquery1-3.4.1.min.js' %}"></script>

<script src="{% static 'dashboard/js/popper1.min.js' %}"></script>

<script src="{% static 'dashboard/js/bootstrap1.min.js' %}"></script>

<script src="{% static 'dashboard/js/metisMenu.js' %}"></script>

<script src="{% static 'dashboard/vendor/count_up/jquery.waypoints.min.js' %}"></script>

<script src="{% static 'dashboard/vendor/chartlist/Chart.min.js' %}"></script>

<script src="{% static 'dashboard/vendor/count_up/jquery.counterup.min.js' %}"></script>

<script src="{% static 'dashboard/vendor/niceselect/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'dashboard/vendor/owl_carousel/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'dashboard/vendor/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatable/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatable/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatable/js/pdfmake.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatable/js/vfs_fonts.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatable/js/buttons.print.min.js' %}"></script>

<script src="{% static 'dashboard/vendor/datepicker/datepicker.js' %}"></script>
<script src="{% static 'dashboard/vendor/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'dashboard/vendor/datepicker/datepicker.custom.js' %}"></script>
<script src="{% static 'dashboard/js/chart.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/chartjs/roundedBar.min.js' %}"></script>

<script src="{% static 'dashboard/vendor/progressbar/jquery.barfiller.js' %}"></script>

<script src="{% static 'dashboard/vendor/tagsinput/tagsinput.js' %}"></script>

<script src="{% static 'dashboard/vendor/text_editor/summernote-bs4.js' %}"></script>
<script src="{% static 'dashboard/vendor/am_chart/amcharts.js' %}"></script>

<script src="{% static 'dashboard/vendor/scroll/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/scroll/scrollable-custom.js' %}"></script>

<script src="{% static 'dashboard/vendor/apex_chart/apex-chart2.js' %}"></script>
<script src="{% static 'dashboard/vendor/apex_chart/apex_dashboard.js' %}"></script>

<script src="{% static 'dashboard/vendor/chart_am/core.js' %}"></script>
<script src="{% static 'dashboard/vendor/chart_am/charts.js' %}"></script>
<script src="{% static 'dashboard/vendor/chart_am/animated.js' %}"></script>
<script src="{% static 'dashboard/vendor/chart_am/kelly.js' %}"></script>
<script src="{% static 'dashboard/vendor/chart_am/chart-custom.js' %}"></script>

<script src="{% static 'dashboard/js/dashboard_init.js' %}"></script>
<script src="{% static 'dashboard/js/custom.js' %}"></script>