{% load static %}

<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="{% url 'dashboard:dashboard' %}">
            <!-- <img src="{% static 'dashboard/img/logo.png' %}" alt /> -->
            <h2>Logo</h2>
        </a>
        <a class="small_logo" href="{% url 'dashboard:dashboard' %}">
            <!-- <img src="{% static 'dashboard/img/mini_logo.png' %}" alt /> -->
            <h4>Logo</h4>
        </a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li>
            <a href="{% url 'dashboard:dashboard' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'dashboard/img/menu-icon/dashboard.svg' %}" alt />
                </div>
                <div class="nav_title">
                    <span>Dashboard </span>
                </div>
            </a>
        </li>
        <li>
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'dashboard/img/menu-icon/4.svg' %}" alt />
                </div>
                <div class="nav_title">
                    <span>Admins</span>
                </div>
            </a>
            <ul>
                <li><a href="admin_list.html">Admin List</a></li>
                <li><a href="add_new_admin.html">Add New Admin</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'dashboard/img/menu-icon/11.svg' %}" alt />
                </div>
                <div class="nav_title">
                    <span>Role & Permissions</span>
                </div>
            </a>
            <ul>
                <li><a href="module_setting.html">Module Setting</a></li>
                <li><a href="role_permissions.html">Role & Permissions</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'dashboard/img/menu-icon/5.svg' %}" alt />
                </div>
                <div class="nav_title">
                    <span>Users</span>
                </div>
            </a>
            <ul>
                <li><a href="user_list.html">Users List</a></li>
                <li><a href="add_new_user.html">Add New User</a></li>
            </ul>
        </li>
        <li>
            <a href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'dashboard/img/menu-icon/15.svg' %}" alt />
                </div>
                <div class="nav_title">
                    <span>Calendar</span>
                </div>
            </a>
        </li>
        <li>
            <a href="navs.html" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'dashboard/img/menu-icon/12.svg' %}" alt />
                </div>
                <div class="nav_title">
                    <span>Menu 1</span>
                </div>
            </a>
        </li>
        <li>
            <a href="Builder.html" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'dashboard/img/menu-icon/6.svg' %}" alt />
                </div>
                <div class="nav_title">
                    <span>Menu 2 </span>
                </div>
            </a>
        </li>
        <li>
            <a href="invoice.html" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static 'dashboard/img/menu-icon/7.svg' %}" alt />
                </div>
                <div class="nav_title">
                    <span>Menu 3</span>
                </div>
            </a>
        </li>
    </ul>
</nav>